#fondo {
    background-color: #6ff0a0;    /* Color de texto */
    border-width: 2px;
    border-style: solid;
    border-color: black;
    }

#main{
    background-color:#000;
    color:#fff;
    padding:16px;
    border:2px solid #00f;}

h1 {
    color: #FFFF00
}

h5 {
    justify-content: left;
    color: #212121
}

*{
    margin: 20;
    padding: 50;
}